<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <style>
      		body {
        		padding-top: 60px;
        	}
    	</style>
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    </head>
    <body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
			<div class="container">
			  <a class="brand" href="/">{{ site.name }}</a>
			  <div class="nav-collapse collapse">
				<ul class="nav">
				  <li><a href="/about">about</a></li>
				  <li><a href="/research">research</a></li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>
		<div class="container">
		  <div class="content">
			{{ content }}
		  </div>
		  <hr>
		  <footer>
			<p>&copy; {{ site.time | date: '%Y' }} Chris Bopp
		  </footer>
		</div>
    </body>
</html>
